* {
    box-sizing: border-box;
}

body {
    background-color: #bdc3c7;
}

h1 {
    color: #9b59b6;
}

h2 {
    color: orange;
}

p {
    background-color: yellow;
}

input {
    border: 3px solid red;
}

.hello {
    background-color: white;
}

#special {
    border: 2px solid blue;
}

div>p {
    font-size: 25px;
}

input[type=text] {
    background-color: gray;
}

div:nth-of-type(3)>p {
    background-color: yellos;
}

div:nth-of-type(3)>p:nth-of-type(2) {
    border: 5px solid white;
}

div:nth-of-type(3)>p>em {
    font-size: 20px;
    color: white;
}