* {
    box-sizing: border-box;
}

main {
    background-color: bisque;
    height: 100vh;
    display: flex;
    font-family: monospace;
    font-size: 16px;
}

form {
    width: 300px;
    background-color: aqua;
    padding: 16px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    margin: auto;
}

.form-title {
    text-align: center;
    text-transform: uppercase;
}

.form-control {
    margin-bottom: 8px;
}

.form-label {
    display: block;
    margin-bottom: 4px;
}

.form-input {
    width: 100%;
    height: 32px;
    border-radius: 4px;
    border: 1px solid grey;
    padding: 4px;
    outline: none;
}

.form-input:invalid {
    border: 3px solid red;
}

.submit-button {
    width: 100%;
    height: 32px;
    text-transform: uppercase;
    border-radius: 4px;
    margin-top: 16px;
    background-color: coral;
    color: white;
}

.submit-button:disabled {
    opacity: 0.5;
}

.error-text {
    color: red;
    margin: 8px 0;
    text-align: center;
}