* {
    box-sizing: border-box;
}

.block {
    border: 2px solid black;
    padding: 50px;
}

.main__blue {
    background-color: blue;
    padding: 50px;
    margin: 50px;
}

.block_yellow {
    background-color: yellow;
}

.block__green {
    background-color: green;
}

.block__pink {
    background-color: pink;
}