* {
    box-sizing: border-box;
}

.submenu {
    display: none;
}

.menu {
    display: flex;
}

.header {
    height: 48px;
    background-color: green($color: #000000);
}

.menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.menu-item {
    line-height: 48px;
    margin-left: 16px;
    color: white;
}

.menu_item-text {
    text-transform: uppercase;
    cursor: pointer;
}

.menu-item:hover {
    color: yellow;
}